body {

    text-align: center;
    margin-top: 10px;

    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    font-size: 100px;
    color: yellow;
    border: 1px solid black;
    width: 640px;
    margin: 20px;
    padding: 30px 40px;
    background-color: maroon;
    box-shadow: -10px 5px gray;
}